@font-face {
    font-family: 'Aka-AcidGR-Zephyrea';
    src: url('Aka-AcidGR-Zephyrea.eot');
    src: url('Aka-AcidGR-Zephyrea.eot?#iefix') format('embedded-opentype'),
        url('Aka-AcidGR-Zephyrea.woff2') format('woff2'),
        url('Aka-AcidGR-Zephyrea.woff') format('woff'),
        url('Aka-AcidGR-Zephyrea.ttf') format('truetype'),
        url('Aka-AcidGR-Zephyrea.svg#Aka-AcidGR-Zephyrea') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aka-AcidGR-Zephyrea';
    src: url('Aka-AcidGR-Zephyrea_1.eot');
    src: url('Aka-AcidGR-Zephyrea_1.eot?#iefix') format('embedded-opentype'),
        url('Aka-AcidGR-Zephyrea_1.woff2') format('woff2'),
        url('Aka-AcidGR-Zephyrea_1.woff') format('woff'),
        url('Aka-AcidGR-Zephyrea_1.ttf') format('truetype'),
        url('Aka-AcidGR-Zephyrea_1.svg#Aka-AcidGR-Zephyrea') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

